:root {
  --typography-size-4xl: 3.052rem;
  --typography-size-3xl: 2.441rem;
  --typography-size-2xl: 1.953rem;
  --typography-size-xl: 1.563rem;
  --typography-size-lg: 1.24rem;
  --typography-size-base: 1rem;
  --typography-size-sm: 0.833rem;
}